




[v-cloak] {display: none}



html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: gray;
  background-image: linear-gradient(#2c1a7e, #5251d0);
  color: white;
  font-family: sans-serif;
}

#wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#central {
  background-color: #f3f3f3;
  color: #2c1a7e;
  min-height: 300px;
  min-width: 80%;
  border-radius: 0.5em;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.4);
}

#formulario {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 2rem;
}

label {
  font-weight: bold;
  margin-right: 0.4rem;
  margin-top: 1.3rem;
  margin-bottom: 0.2rem;
}

input {
  text-align: left;
  padding: 12px 20px;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: #eee;
  border-radius: 0.4rem;
  outline: transparent;
  transition: border-color calc(var(--transition, 0.2) * 1s) ease;
}

#previa {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#cartao {
  width: 350px;
  height: 210px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  background-image: linear-gradient(to right bottom, #fd696b, #ec4879);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0.5rem 1em;
  display: flex;
  align-items: start;
  overflow: hidden;
  padding: 1.3em;
  box-sizing: border-box;
}
#dados-cartao{
  max-width: 200px;
  word-wrap: break-word;
  flex-grow: 1;
  max-height: 80px;
}

.label-cartao{
    font-weight: bold;
    display: block;
    margin-top: 1rem;
}

.label-cartao:first-child{
    margin-top: 0;
}


#foto{
    background: white;
    height: 120px;
    width: 90px;
    margin-left: 0.5em;
    color: #AAA;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
  font-size: 3rem;
}
