<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XPTO - Carteirinha do Estudante</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div id="wrapper">
        <h1>XPTO - Carteirinha do Estudante</h1>

        <div id="central" v-cloak>

            <div id="formulario">

                <label for="nome">Nome:</label>
                <input v-model="nome" type="text" id="nome" placeholder="Digite seu nome" />

                <label for="matricula">Matrícula:</label>
                <input v-model="matricula" type="text" id="matrícula" placeholder="Digite sua matrícula" />

            </div>

            <div id="previa">
                <div id="cartao">
                    <div id="dados-cartao">

                        <span class="label-cartao">Nome:</span>
                        <span class="dado-cartao">(O Nome deverá refletir aqui)</span>

                        <span class="label-cartao">Matrícula:</span>
                        <span class="dado-cartao" v-text="matricula">(A Matrícula deverá refletir aqui)</span>
                    </div>
                    <div id="foto">Foto</div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>