*{font-family: Arial, Helvetica, sans-serif;}

#lateral{
    display:flex;
    flex-wrap: wrap;
    width:20%;
    height:calc(100% - 165px);
    min-height: 300px;
    justify-content: center;
    background-color: lightblue;          
}

.mensagem{
    width:100%;
    text-align:center;
    margin:0px;
}
