<main id="conteudo">
    <div style="width:100%; margin:10px;">
        <h2 style="display:inline;">Novo Produto</h2>
        <hr />
        <form (submit)="incluir()">
            <mat-form-field appearance="fill">
                <mat-label>Código</mat-label>
                <input matInput name="codigo" type="text" [(ngModel)]="produto.codigo">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput name="nome" type="text" [(ngModel)]="produto.nome">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Quantidade</mat-label>
                <input matInput name="quantidade" type="number" [(ngModel)]="produto.quantidade">
            </mat-form-field><br/>
            <button mat-raised-button color="primary" type="submit" [disabled]="enviando">Incluir</button>
        </form>
    </div>
</main>
<app-lateral pagina="Novo Produto"></app-lateral>