.pessoa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pessoa span{
    width: 150px;
    display: inline-block;
    border: dotted black 1px;
    background-color: lightyellow;
}